@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }

body {
	background-image: url("../images/background.jpg")
}
.mybutton {
	background-color: beige;
	width: 120px;
	height: 64px;
	border-radius: 50px;
	margin-left: 32px;
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.mybutton:hover {
	background-color: chartreuse
}

nav {
	display: flex;
	flex-direction: row;
}
.blabla {
	text-decoration: none;
	color: cadetblue
}

.myfont {
	margin-top: -20px;
	font-family: 'DotGothic16', sans-serif;
}

.one {
	background-color: burlywood;
	width:876px;
	height: 864px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 12px;
	padding-right: 12px;
}

.two {
	float:left;
	padding-right: 15px;
}

.myheader {
	background-color: black;
	background-image: url ("../images/city.jpg");
	width:900px;
	height: 264px;
	margin-left:auto;
	margin-right: auto;
}